body {
	background-color: #00004d;
}

h1 {
	color: #ffffff;
	text-align: center;
	background-color: #cc0000;
}

.addeventstc {
	background-color: #1779ba;
}

h2, h5, address, #footer {
	color: #ffffff;
	text-align: center;
}

#footer {
	color: #ffffff;
	text-align: center;
	background-color: #000033;
	padding: 20px 0px 20px 0;
}

footer {
	margin-top: 20px;
}

h6 {
	text-align: center;
}

#secondlist {
	list-style-type: none;
}

h2 {
	padding-top: 20px;
}

h3, p {
	text-align: center;
}

span {
	font-size: 70%;
  vertical-align: super;
}

.large-3 {
	text-align: center;
}

.float {
	float: left;
}

.floatright {
	float: right;
}

.center {
	text-align: center;
}

.button {
	  -webkit-border-radius: 3px;
    border-radius: 3px;
}

.facebook {
	  display: inline-block;
    z-index: 1;
    font-family: Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    color: #000!important;
    font-weight: 300;
    line-height: 100%!important;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 9px 10px 9px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

@media screen 
and (min-width: 640px)
and (max-width: 1190px) {
	#plan {
		float: none;
		text-align: center;
	}
}